.digit>img
{
	width: 100%;
}
#container
{
	background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
}
.zero
{
	grid-column: span 2;
}
#display
{
	grid-column: 1 / -1;
	background-color: #b2b9b7;
	display: flex;
	flex-direction: column;
}
#calc
{
	display: flex;
	min-height: 95vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	background-color: azure;
}
.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.column
{
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: right;
}
.number,.decimal
{
	background-color: #0f775a;
}

.operator,.equals
{
	background-color: #0ccfc6;
}
.sign,.backspace
{
	background-color: #6241d6;
}
.clear
{
	background-color: red;
}